.accordion {
	width: 200px;
}

.small_cp_container {
	height: 480px;
	/* background: green; */
	/* width: 100%; */
	position: relative;
}

.smallCPHeader {
	position: absolute;
	top: -110px;
}

.input_header {
	position: absolute;
	top: -90px;
}
