.accordion {
  width: 200px;
}

.small_cp_container {
  height: 480px;
  position: relative;
}

.smallCPHeader {
  position: absolute;
  top: -110px;
}

.input_header {
  position: absolute;
  top: -90px;
}

.tekkennet_logo {
  z-index: 10;
}

.control_panel {
  z-index: 10;
}
